.hero {
  /* min-height: 90vh; */

  display: flex;
  align-items: center;
  justify-content:  space-between;
/* gap: 90px; */
/* gap: 50px; */
  padding: 0 50px;

}

.hero-left {
  max-width: 60%;

}
.hero-right {
  /* max-width: 50%; */
     
     margin-top: 100px;
}

.p1 {
  font-size: 3rem;
}
.p3{
  font-size: 3rem;
   margin-top: -20px;
}

.p2 {
  font-size: 3rem;
  color: #4f46e5;
  margin-top: -20px;
}

.hero-left p {
  margin: 20px 0;
  font-size: 1.2rem;

}

.hero-left button {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;

  background: #4f46e5;
  color: white;
}
